body {
    font-family: 'Poppins';
    background-image: url("/Illustrations/background.png");
    background-size: cover;
    margin: 0%;
}

header {
    color: #fff;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.greetings {
    font-size: 25px;
    margin-bottom: 0%;
    margin-top: 0%;
}

.logo {
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}
.navigation {
    padding: 10px;
}

.navigation ul {
    text-align: justify;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navigation li {
    margin-right: 20px;
    margin: top 0;
}

.navigation a {
    text-decoration: none;
    color: black;
}

.brown-box {
    background-color: rgba(161, 122, 105, 0.8);
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.left-content {
    flex: 1;
}

.right-content {
    flex: 1;
    text-align: right;
}

.search-bar {
    width: 100%;
    height: 20px;
    border: none;
    margin-bottom: 20px;
}

.search-bar input{
    width: 100%;
    height: 20px;
    padding: 10px 0;
    outline: none;
    border: 0;
    font-size: 20px;
}
.search-bar button{
    background-color: #fff;
    position: absolute;
    left: 730px;
    outline: none;
    border: 0;
    font-size: 29px;
    text-align: justify;
    padding-top: 0;
}

.logo {
    max-width: 400px;
    height: auto;
    padding: 0%;
}

.BiggerText {
    font-family: 'Poppins', sans-serif;
    font-weight: 1000;
    font-size: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.otherinfo {
    background-color: #A17A69;
    color: #fff;
    padding: 20px 10px;
    text-align: center;
}

.infos {
    list-style: none;
    padding: 0;
}

.infos li {
    display: inline;
    margin-right: 100px;
}

.infos a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.infos a:hover {
    text-decoration: un;
}

.otherinfo p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
}
